.teste1{
    position: relative;
    height: 100%;
}

.teste2, mat-sidenav-content3{
    padding: 16px;
}

.teste3{
    background-color: red;
    width: 200px;
}

.teste4{
    width: 200px;
    height: 200px;
    background-color: green;
}

