/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-container{
    position: relative;
    height: 100%;
}

mat-sidenav{
    background-color: #2a2a2a !important;
    padding: 16px;
    width: 70%;
}

mat-sidenav-content{
    width: 100%;
}


/**CHECK BOX DA ADIÇÃO DE IMOVEIS E AGENDAMENTO DE VISITAS**/
.checkbox{
    margin: 0px 15px 0px 0px;
}