<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Minhas Propriedades</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Minhas Propriedades</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		<!-- Widget -->
		<div class="col-md-4">
			<div class="sidebar left">

				<div class="my-account-nav-container">
					
					<ul class="my-account-nav">
						<li class="sub-nav-title">Gerenciar Conta</li>
						<li><a routerLink="/usuario/dados"><i class="sl sl-icon-user"></i> Meu Perfil</a></li>
						<li><a routerLink="/usuario/propostas"><i class="sl sl-icon-star"></i> Proposta Pendentes</a></li>
						<li><a routerLink="/usuario/aprovar-proposta"><i class="sl sl-icon-star"></i>Aprovar Proposta (Proprietário)</a></li>
					</ul>
					
					<ul class="my-account-nav">
						<li class="sub-nav-title">Gerenciar Alugueis</li>
						<li><a routerLink="/usuario/minhaspropriedades" class="current"><i class="sl sl-icon-docs"></i> Minhas Propriedades</a></li>
						<li><a routerLink="/usuario/alugando"><i class="sl sl-icon-action-redo"></i> Alugando </a></li>
					</ul>

					<ul class="my-account-nav">
						<li><a routerLink="/usuario/mudarsenha"><i class="sl sl-icon-lock"></i> Trocar Senha</a></li>
						<li><a (click)="deslogar()"><i class="sl sl-icon-power"></i> Sair</a></li>
					</ul>

				</div>

			</div>
		</div>

		<div class="col-md-8" *ngIf="!ctrl_solicitar && !ctrl_remover">
			<table class="manage-table responsive-table">

				<tr>
					<th><i class="fa fa-file-text"></i> Propriedade</th>
					<th class="expire-date"></th>
					<th></th>
				</tr>

				<!-- Ocupado -->
				<tr *ngFor="let resposta of respostas" >
					<td class="title-container">
						<img [src]="global.endreco_foto+'imoveis/'+resposta.id_imovel+'_0.jpg'" alt="">
						<div class="title">
							<h4><a >{{resposta.endereco}}, {{resposta.numero}} {{resposta.complemento}}</a></h4>
							<span>{{resposta.cidade}}, {{resposta.estado}} </span>
							<span class="table-property-price">R$ {{resposta.preco}} / mês</span>
						</div>
					</td>
					<td class="expire-date">
						<!--<p>December 30, 2016</p>--> <!-- 8 fica quando outra proposta esta sendo analisada -->
						<p *ngIf="resposta.custodia == 0">Custodia:<br>{{resposta.administrador}}</p>
					</td>
					<td class="action">
						<a (click)="removerPropriedade(resposta.id_imovel)" class="delete"><i class="fa fa-remove"></i> Remover propriedade</a>
						<a *ngIf="resposta.custodia == 0" (click)="solicitarSaida(resposta.id_imovel)" class="delete"><i class="fa fa-remove"></i> Solicitar saida do inquilino</a>
						<!--<a (click)="assinarProprietario(resposta.id_imovel)" ><i class="fa fa-pencil"></i> Assinar</a>-->
					</td>
				</tr>

				<!-- Desocupado -->
				<tr *ngFor="let resposta of respostas_livre" >
					<td class="title-container">
						<img [src]="global.endreco_foto+'imoveis/'+resposta.id_imovel+'_0.jpg'" alt="">
						<div class="title">
							<h4><a >{{resposta.endereco}}, {{resposta.numero}} {{resposta.complemento}}</a></h4>
							<span>{{resposta.cidade}}, {{resposta.estado}} </span>
						</div>
					</td>
					<td class="expire-date">
						<!--<p>December 30, 2016</p>--> <!-- 8 fica quando outra proposta esta sendo analisada -->
					</td>
					<td class="action">
						<!-- <a (click)="assinarProprietario(resposta.id_imovel)" *ngIf="resposta.status == 3"  ><i class="fa fa-pencil"></i> Assinar/Recusar</a> -->
						<a (click)="atualizarFotos(resposta.id_imovel, resposta.tamanho)" class="delete"><i class="fa fa-pencil"></i>Atualizar Dados</a>
						<!--<a (click)="atualizarFotos(resposta.id_imovel, resposta.tamanho)" class="delete"><i class="fa fa-pencil"></i>Atualizar Fotos</a>-->
						<a (click)="removerPropriedade(resposta.id_imovel)" class="delete"><i class="fa fa-remove"></i> Remover propriedade</a>
					</td>
				</tr>

			</table>
			<a routerLink="/enviar-propriedade" class="margin-top-40 button">Enviar Propriedade</a>
		</div>

		<div *ngIf="ctrl_remover" class="col-md-8">	
			<h3>Tem certeza que quer remover o imovel da myhome?</h3>
			<a class="button" (click)="removerConfirmar()">Confirmar</a>
			<a class="button" (click)="removerCancelar()">Cancelar</a>
		</div>

		<div *ngIf="ctrl_solicitar" class="col-md-8">	
			<h3>Tem certeza que quer solicitar a saida do inquilino?</h3>
			<a class="button" (click)="solicitarConfirmar()">Confirmar</a>
			<a class="button" (click)="solicitarCancelar()">Cancelar</a>
		</div>

	</div>
</div>
